*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

header{
    padding: 26px 56px;
    display: flex;
    justify-content: space-between;
   
}
button.btn-nav{
    background-color: #f40612;
    border-radius: 3px;
    padding: 7px 17px;
    border: none;
    font-weight: 400;
    width: 120px;
    height: 50px;
}
button.btn-nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
div.icon svg{
     height: 30px;
     fill: #222;
     position: absolute;
     margin-top: 10px;
     margin-left: 3px;
}
select{
    margin-right: 20px;
    padding-left: 30px;
    font-size: 16px;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    width: 120px;
    height: 50px;
}
div.body-bg{
    background-image: url(./styles/bodypic.jpg);
    background-size: cover;
}
div.main-body{
    margin-left: 700px;
    margin-right: 700px;
    padding: 200px;
    text-align: center;
}
div.container-first{
    color: white;
}
div.container-first h1{
    font-size: 80px;
    line-height: 1.1;
    
}  
div.container-first h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 2;
}  
div.container-first h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 3;
}
div.form{
    display: flex;
}
div.form input{
   
    width: 1000px;
    padding: 10px 10px 10px;
    font-size: 19px;
}
button.btn-link{
    width: 500px;
    height: 100px;
    background-color: #f40612;
    border: none;
    font-size: 35px;
}
button.btn-link a{
    color: white;
    font-weight: 400;
    text-decoration: none;
    border: none;
}
div.second-body{
    padding: 70px 45px;
    border-top: 8px solid #222;
    border-bottom: 8px solid #222;
    background-color: black;
}
div.second-body-story-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1500px;
    color: white;
    width: 52%;
   
}
div.second-body-text{
    padding: 50px;
    line-height: 1.5;
}
div.second-body-text h1{
    font-size: 50px;
    line-height: 2;
}
div.second-body-text h2{
    font-size: 26px;
    font-weight: 400;
   
}
div.third-body{
    padding: 75px 45px;
    border-bottom: 8px solid #222;
    background-color: black;
    color: white; 
}
div.third-body-story-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}
div.third-body-text{
    padding: 30px;
    width: 52%;
    
}
div.third-body-text h1{
    font-size: 50px;
    line-height: 1.5;
}
div.third-body-text h2{
    font-size: 26px;
    font-weight: 400;
}
div.forth-body{
    background-color: black;
    border-bottom: 8px solid #222;  
}
div.forth-body-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    color: white;
}
div.forth-body-story-text{
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    margin-bottom: 50px;
    margin-top: 50px;
}
div.forth-body-text h1{
    font-size: 50px;
    line-height: 2;
    
}
div.forth-body-text h2{
    font-size: 26px;
    font-weight: 400;
}
div.fifth-body{
    padding: 70px 45px;
    border-bottom: 8px solid #222;
    background-color: black;
    color: white;
}
div.fifth-body-story-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
div.fifth-body-text{
    padding: 30px;
    width: 52%;
}
div.fifth-body-text h1{
    font-size: 50px;
    width: 600px;
    line-height: 2;
}
div.fifth-body-text h2{
    line-height: 1.1;
    font-size: 26px;
    font-weight: 400;
}
div.six-body{
    padding: 50px 30px;
    border-bottom: 8px solid #222;
    background-color: black;
    color: white;
}
div.six-body-story{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
}
li button.btn-faq{
    background: #303030;
    width: 1200px;
    padding: 21px 50px 21px 31px;
    margin-bottom: 8px;
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: 400;
}
div.FAQ{
    text-align: center;
}
div.FAQ h1{
    font-size: 60px;
}
div.btn-li-faq{
    margin-top: 50px;
}
div.form-two{
    text-align: center;    
}
div.form-two-input{
    display: flex;
    justify-content: center;
}
div.form-two h1{
    font-size: 26px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 30px;
}
div.form-two-input input{
    width: 800px;
    height: 100px;
    font-size: 24px;
    padding: 20px;
}
button.form-two-btn{
    background-color: #f40612;
    width: 300px;
    height: 100px;
}
button.form-two-btn a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
div.footer-column{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
    margin: auto;
    margin-left: 700px;
    line-height:2.5 ;
    
}
p.footer-top-text{
    padding-top: 75px;
    display: flex;
    width: 80%;
    max-width: 1300px;
    margin-left: 700px;
    margin-bottom: 40px;
    color: #737373;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color:#737373;
    font-size: 20px;
}
footer{
    background-color: black;
    padding-bottom: 20px;
}
select.option{
    margin-top: 40px;
    width: 150px;
    height: 80px;
    font-size: 20px;
    color:#737373;
}
footer p.footer-bottom-text{
    padding-top: 30px;
    display: flex;
    width: 80%;
    max-width: 1300px;
    margin-left: 700px;
    color: #737373;
    font-size: 20px;
}
div.icon2 svg{
    height: 30px;
    fill: gray;
    position: absolute;
    margin-top: 65px;
    margin-left: 3px;
}